<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {
                background-color: powderblue;
            }
            * {
                font-family: Yu Gothic UI;
            }
        </style>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.1.min.js"></script>

        {{ script | safe }}
        <meta charset="utf-8">
        {{ bokeh_css|safe }}
        {{ bokeh_js|safe }}
    </head>
    <body>
        {{ plot_div|safe }}
        {{ plot_script|safe }}
    </body>
</html>