<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            body {
                background-color: powderblue;
            }

            * {
                font-family: Yu Gothic UI;

            }

        </style>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.1.min.js"></script>

        {{ script | safe }}


        {{ bokeh_css }}
        {{ bokeh_js }}
    </head>
    <body>
        <div id="container" tabindex="0">
            {{ plot_div|indent(8) }}
            {{ plot_script|indent(8) }}
        </div>
    </body>
<script>
    if ((navigator.platform.indexOf('iPhone') != -1) ||
        (navigator.platform.indexOf('iPad') != -1) ||
        (navigator.platform.indexOf('iPod') != -1) ||
        (navigator.platform.indexOf('webOS') != -1) ||
        (navigator.platform.indexOf('Android') != -1) ||
        (navigator.platform.indexOf('BlackBerry') != -1) ||
        (navigator.platform.indexOf('Windows Phone') != -1))
{
    // this is needed since iOS 12 to prevent iOS browsers to capture gestures
    document.getElementById('container').addEventListener('gesturestart', function(event) {event.preventDefault();}, false);
    document.getElementById('container').addEventListener('gesturechange', function(event) {event.preventDefault();}, false);
    document.getElementById('container').addEventListener('gestureend', function(event) {event.preventDefault();}, false);
    document.getElementById('container').addEventListener('touchmove', function(event) {event.preventDefault();}, false);
}
</script>
</html>